.download-info {
  position: relative;
  z-index: 5;

  margin: 0;
  padding-top: 25px;

  text-align:center;
  color: #ffffff;
}

.download-info__title {
  display: none;
}

.download-wrapper {
  margin: 0;
}

.btn--download {
  display: inline-block;
  vertical-align: top;
  padding: 10px 35px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 30px
}

.btn--download:hover {
  background: #ffffff;
}

.download-links {
  margin: 25px 0;
}

.download-link {
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 60px;
  margin-right: 35px;
}

.download-link:last-child {
  margin-left: 0
}

.download-availability {
  margin-bottom: 30px;
  line-height: 1.71
}


@media (#{$tablet-widths}) {

  .download-wrapper {
    float: left;

    width: 280px;
    min-height: 450px;
  }

  .download-info__title {
    display: block;
    margin: 20px 30px;

    color: #ffffff;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.3;
  }

  .download-link:last-child {
    margin-left: 0
  }

  .download-availability {
    margin-bottom: 110px;
  }


}


@media (#{$desktop-widths}) {

  .download-wrapper {
    float: left;
    width: 300px;

    min-height: 530px;
  }


  .download-info__title {
    margin-bottom: 50px;
  }

}