.download-info {
  position: relative;
  z-index: 5;

  margin: 0;
  padding-top: 25px;

  text-align:center;
  color: #ffffff;
}

.download-wrapper {
 background-color: #1d2631;
}

.download-info__title {
  display: none;
}

.btn--download {
  display: inline-block;
  vertical-align: top;
  padding: 10px 35px;

  font-size: 18px;
  font-weight: 700;
  color: #fff;

  border: 3px solid #fff;
  border-radius: 30px
}

.btn--download:hover {
  background: #ffffff;
}

a.btn--download:active {
  color: rgba(210, 40, 86, 0.3)
}

.download-links {
  margin: 30px 0;
}

.download-link {
  margin-right: 35px;

  width: 46px;
  height: 60px;
}

.download-link:last-child {
  margin-left: 0
}

.download-availability {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin: 0;

  line-height: 1.71
}

@media (#{$tablet-widths}) {

  .download-wrapper {
   background-color: transparent;
  }

  .download-info {
    float: left;
    width: 280px;
  }

  .download-info__title {
    display: block;
    margin: 20px 30px;

    color: #ffffff;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.3;
  }

  .download-link:last-child {
    margin-left: 0
  }

  .download-availability {
    margin-bottom: 50px;
  }

}


@media (#{$desktop-widths}) {

  .download-info {
    float: left;
    width: 300px;
  }

  .download-info__title {
    margin-bottom: 50px;
  }

}