.footer-index__flex {
  display: none;
}

.footer-inner {
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-inner--page {
  display: block;
  min-height: 240px;
}

.footer-inner__logo,
.footer-inner__social,
.footer-inner__copyright {
  text-align: center;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 30px 0;
}

.social-links a {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;

  width: 19px;
  height: 19px;
  padding: 13px;

  border: 3px solid rgba(40, 54, 69, .1);
  border-radius: 50%;
  font-size: 0;
  color: #d22856;

  text-align: center;
}

.social-links a:hover {
  border: 3px solid #283645;
}

.social-link svg {
  fill: #d22856;
}

.footer-inner__logolink--desktop {
  display: none;
}

.footer-inner__copyright {
  position: relative;
  vertical-align: middle;
}

.footer-inner__copyright-text {
  display: inline-block;
  vertical-align: middle;
  padding: 15px;

  font-size: 14px;
  line-height: 18px;
  color: #283645;
}

.footer-inner__copyright-link svg {
  position: absolute;
  top: 30%;

  fill: #d22856;
}

.footer-inner__copyright-link:hover svg {
  fill: #283645;
}

.footer__logocolor:hover path {
  fill: #d22856;
}

@media (#{$tablet-widths}) {

  .footer-inner {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer-inner--page {
    min-height: 60px;
  }

  .footer-inner__flex,
  .footer-index__flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .footer-inner__logo,
  .footer-inner__social,
  .footer-inner__copyright {
    margin: 0;
    padding: 0;
    width: 33.2%;
  }

  .footer-inner__logo {
    text-align: left;
  }

  .footer-inner__copyright {
    text-align: right;
  }

}

@media (#{$desktop-widths}) {

  .footer-inner {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer-inner__logolink--mobile {
    display: none;
  }

  .footer-inner__logolink--desktop {
    display: block;
  }

}

