.form-block__wrapper--achievements,
.form-block__wrapper--application  {
  padding: 0;
  margin: 0;
  background: $bg-lightgrey;
}

.form-block {
  margin: 0 auto;
  margin-bottom: 35px;

  border: 2px solid transparent;
}

.form-block__title  {
  display: block;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;
  color: #d22856;
  text-transform: uppercase;
}

.form-block--contacts .form-block__title  {
  display: none;
}

.name-input {
  width: auto;
  margin-bottom: 25px;
}

.name-input  label,
.contact-input label {
  display: inline-block;
  vertical-align: top;
  padding-left: 22px;
  margin-bottom: 10px;

  color: #d22856;
  text-transform: uppercase;
}

.achievement-input,
.application-input {
  margin-bottom: 40px;
}

.contact-input {
  margin-bottom: 20px;
}

.form-block--text {
  text-align: center;
}

.form-block__title--text {
  display: none;
}

.form-block--text textarea {
  box-sizing: border-box;
  width: 100%;
}

.form-submit {
  margin-bottom: 50px;

  text-align: center;
}

.form-submit__btn {
  display: block;
  width: 100%;
  padding: 20px 0;

  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;

  border: none;
  border-radius: 2px;
  margin-bottom: 40px;
  background-color: #2aab6d;
}

.form-submit__note {
  color: #283645;

  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.form-submit__star {
  color: #d22856;
}

@media (#{$tablet-widths}) {

  .name-input {
    margin-bottom: 55px;
  }

  .name-input:last-child {
    margin-bottom: 0;
  }

  .name-input input[type=text] {
    box-sizing: border-box;
    width: 80%;
  }

  .name-input label {
    box-sizing: border-box;
    width: 15%;
    margin-right: 15px;
  }

  .form-block__wrapper {
    margin-bottom: 70px;
  }

  .form-block__wrapper--achievements,
  .form-block__wrapper--application  {
    background: #ffffff;
  }

  .contest-form__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .form-block__wrapper--name {
    order: 1;
    padding: 0;

    border: none;
  }

  .form-block__wrapper--application {
    order: 2;
  }

  .form-block__wrapper--contacts {
    order: 3;
  }

  .form-block__wrapper--achievements {
    order: 4;
  }

  .form-block__wrapper--text {
    order: 5;
  }

  .form-block {
    text-align: center;
    margin-bottom: 0;

    border: 2px solid #e5e5e5;
  }

  .form-block--name {
    border: none;
  }

  .form-block__title  {
    display: inline-block;
    margin: 0 auto;
    padding:0;
    padding-left: 20px;
    padding-right: 20px;

    background: #ffffff;
    transform: translate(0,-58px);

  }

  .form-block--application,
  .form-block--contacts,
  .form-block--text,
  .form-block--achievements{
    padding: 50px 55px;
  }

  .form-block--application__wrapper,
  .form-block--contacts__wrapper,
  .form-block--text__wrapper,
  .form-block--achievements__wrapper {

    text-align: left;
  }

  .form-block--contacts .form-block__title  {
    display: inline-block;
  }

  .contact-input {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .contact-input input {
    order: 1;
    position: relative;
  }

  .contact-input input[type=text] {
    padding-right: 100px;
  }

  .contact-input__phone input[type=text] {
    background-image: url(../img/icon-phone.svg);
    background-position: top 18px right 20px;
    background-repeat: no-repeat;
  }

  .contact-input__email input[type=text] {
    background-image: url(../img/icon-mail.svg);
    background-position: top 18px right 20px;
    background-repeat: no-repeat;
  }

  .contact-input label {
    order: 2;
    margin-top: 15px;
  }

  .form-submit {
    margin-bottom: 0;
  }

  .form-submit__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .form-submit__btn {
    box-sizing: border-box;
    width: 50%;
  }

  .form-submit__note {
    box-sizing: border-box;
    width: 45%;
    padding-top: 20px;
  }

  .form-submit__note {
    text-align: right;
  }

}

 @media (#{$desktop-widths}) {

  .contest-form__wrapper {
    @include container-fluix;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 40px;
  }

  .form-block__wrapper--name {
    box-sizing: border-box;
    width: 50%;
    padding: 0;
    margin: 0;
  }

  .form-block__wrapper--name .page-container {
    padding: 0;
    margin: 0;
  }

  .name-input input[type=text] {
    box-sizing: border-box;
    width: 70%;
  }

  .name-input label {
    box-sizing: border-box;
    width: 20%;
    margin-right: 15px;
  }

  .name-input {
    margin-bottom: 60px;
  }

  .form-block__wrapper--application {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    box-sizing: border-box;
    width: 50%;
    padding-bottom: 0;
  }

  .form-block--application {
    padding: 30px;
  }

  .application-input {
    margin-top: 0;
    padding-top: 0;
  }

  .form-block__wrapper--achievements,
  .form-block__wrapper--contacts,
  .form-block__wrapper--text {
    box-sizing: border-box;
    width: 100%;
    flex: 1 1 100%;
  }

  .form-block--achievements__wrapper,
  .form-block--contacts__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-block--contacts__wrapper {
    flex-wrap: nowrap;

    margin: 0 auto;
  }

  .achievement-input {
    width: 33%;
  }

  .contact-input {
    width: 50%;
    margin-right: 50px;

    box-sizing: border-box;
  }

  .contact-input:last-child {
    margin-right: 0;
  }

  .form-submit {
    @include container-fluix;
  }

 }