.header-intro {
  position: relative;
  z-index: 1;

  min-height: 287px;
}

.header-intro img {
  position: relative;
  left: -30px;
}

.innerheader-intro {
  margin: 0 auto;
  margin-bottom: 80px;

  text-align: center;
}

.innerheader-intro  .innerheader-intro__title {
  margin-bottom: 90px;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 300;

  color: #ffffff;
}

@media (#{$tablet-widths}) {

  .header-intro {
    position: relative;
    float: right;
    min-height: 550px;
  }

  .header-intro img {
    position: absolute;
    right: 0;
    left: auto;
    bottom: 0;
  }

  .innerheader-intro {
    width: 500px;
  }

  .innerheader-intro  .innerheader-intro__title {
    margin-bottom: 90px;
    font-size: 44px;
    line-height: 1.4;
    font-weight: 300;

    color: #ffffff;
  }

}

@media (#{$desktop-widths}) {

  .header-intro {
    position: relative;
    float: right;
    min-height: 650px;
  }

  .header-intro img {
    position: absolute;
    right: 0;
    left: auto;
    bottom: 0;
  }

  .innerheader-intro {
    width: 820px;
  }

  .innerheader-intro  .innerheader-intro__title {
    margin-bottom: 90px;
    font-size: 48px;
    line-height: 1.4;
    font-weight: 300;

    color: #ffffff;
  }

}


