.index-footer {

  text-align: center;
}

.footer-contacts {
  margin-top: 45px;
}

.footer-contacts__phrase {
  margin-bottom: 35px;
  width: 100%;

  font-size: 24px;
}

.contacts {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: column;


  margin-bottom: 40px;
}

.contact-item {
  margin-bottom: 35px;
}

.contact-item__title {
  font-weight: 700;
  font-size: 18px;
}

.contact-item__value {
  font-size: 24px;
  line-height: 1.2;

  color: #d22856;
}

.footer-map {
  min-height: 200px;
  background: url(../img/bg-map.png) no-repeat center  #eae0ba;
  background-size: cover;
}

@media (#{$tablet-widths}) {

  .contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }


  .contact-item {
    width: 50%;
    margin-bottom: 45px;

  }

  .footer-contacts__phrase {
    font-size: 40px;
    margin-bottom: 45px;
  }

  .footer-map {
    min-height: 380px;
  }

}

@media (#{$desktop-widths}) {

  .contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .contact-item {
    width: 32%;

    margin-bottom: 45px;
  }

  .contact-item--call {
    order: 1;
  }

  .contact-item--write {
    order: 3;
  }

  .contact-item--visit {
    order: 2;
  }

  .footer-contacts__phrase {
    font-size: 50px;
    margin-bottom: 55px;
  }

  .footer-map {
    min-height: 500px;
  }

}