.page-header {
  position: relative;
  @include clearfix;

  margin: 0;
  padding: 0;

  color: #ffffff;

  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 458 auto;

  @media (min-resolution: 144dpi),(min-resolution: 1.5dppx) {

    .page-header {
      background-image: url("../img/bg-back-mobile@2x.jpg");
      background-size: 700px auto;
    }

  }

 }


@media (#{$tablet-widths}) {

  .page-header {
    background-image: url("../img/bg-back-tablet.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1200px auto;
  }

  @media (min-resolution: 144dpi),(min-resolution: 1.5dppx) {

     .page-header {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }

  }

}

@media (#{$desktop-widths}) {

  .page-header {
    background-image: url("../img/bg-back-desktop.jpg");
    background-size: 2560px auto;
    background-repeat: no-repeat;
    background-position: top;
  }

}

.page-header a {
  color: white;
  text-decoration: none;
}

.page-header a:hover {
  color: #d22856;
}