img {
  margin: 0;
  padding: 0;

  vertical-align: middle;
}

.photo-block {
  margin: 0;
  padding: 0;

  text-align: center;
 }

 .photo-block-intro {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;

  text-align: center;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

.landscape-photo {
  position: relative;
  width: 100%;
}

.landscape-photo img {
  width: 100%;
}

.landscape-photo__title {
  position: absolute;
  top: 0;
  right: 20px;

  display: inline-block;
  vertical-align: top;
  padding: 12px 15px;

  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;

  background: #d22856;
}

.photo-comment {
  position: relative;
  margin: 0;
  padding: 20px 15px;
  padding-bottom: 40px;

  box-sizing: border-box;
  min-height: 125px;

  margin-bottom: 20px;

  text-align: left;

  background-color: $bg-lightgrey;
}

.photo-comment__author,
.photo-comment__text {
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.photo-comment__author {
  margin-bottom: 10px;
}

.photo-comment__text {
  margin-bottom: 20px;
}

.photo-comment__author-name {
  font-weight: 700;
}

.photo-comment__author-time {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
}

.photo-comment__likes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;

  position: absolute;
  bottom: 20px;
  left: 20px;

  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #d22856;
}

.photo-likes__picture {
  display: block;
  order: 1;
  margin-right: 15px;
}

.photo-likes__text {
  display: block;
  order: 2;
}


.photo-block__image {
  margin: 0;
  padding: 0;

  width: 100%;
  height: auto;
}

.photo-upload-intro {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

.photo-flex {
  display: flex;
  flex-direction: column;
}


@media (#{$tablet-widths}) {

  .photo-comment {
    min-height: 160px;
  }

  .photo-block-intro {
    margin-top: 90px;
    margin-bottom: 70px;
   }

  .landscape-photo__title {
    position: absolute;
    right: 40px;
    top: 60px;
  }

  .photo-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 50px;
  }

  .photo-block {
    box-sizing: border-box;
    width: 47%;

    margin-right: 15px;
  }

  .photo-block__image {
    width: 100%;
    height: auto;
  }

  .photo-block-intro__text {
     font-size: 18px;
  }

  .photo-comment {
    position: relative;
  }

  .photo-comment__likes {
    width: 100%;
  }

  .photo-likes__picture {
    order: 2;
    padding-right: 10%;
  }

  .photo-likes__text {
   order: 1;
   padding-left: 0;
  }

  .flex-comment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    min-height: 120px;
  }

  .flex-comment .photo-comment__author {
    order: 1;
    width: 50%;
    box-sizing: border-box;
  }

  .flex-comment .photo-comment__likes {
    position: static;
    order: 2;
    width: 50%;
    box-sizing: border-box;

    text-align: right;
  }

  .flex-comment .photo-comment__text {
    order: 3;
    width: 100%;
    box-sizing: border-box;
  }

  .photo-likes__text--flex {
    padding-left: 50%;
  }

}

@media (#{$desktop-widths}) {

  .photo-block-intro {
    margin-bottom: 90px;

    font-size: 18px;
    line-height: 30px;
  }

  .landscape-photo__title {
    position: absolute;
    right: 130px;
    top: 60px;
  }

  .photo-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 50px;
  }

  .photo-block {
    box-sizing: border-box;
    width: 30%;
    margin-bottom: 55px;
  }

  .photo-block-intro__text {
    font-size: 18px;
  }

}