.promo-effect-wrapper {
  display: none;
}

.promo-effect-wrapper a {
  color: #d22856;
}

@media (#{$tablet-widths}) {

  .promo-effect-wrapper {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;

    padding-top: 60px;
  }

  .promo-effect__picture {
    display: block;
    box-sizing: border-box;
    width: 50%;

    background-image: url(../img/icon-timer.svg);
    background-size: 262px auto;
    background-position: center top;
    background-repeat: no-repeat;
  }

  .promo-effect__block {
    display: block;
    box-sizing: border-box;
    width: 50%;

    text-align: left;
  }

  .promo-effect__timer {
    width: 214px;
    height: 214px;

    font-size: 105px;
    font-weight: 700;
    line-height: 2;
    color: #d22856;
    text-align: center;

    border: 12px solid #d22856;
    border-radius: 50%;
    background: #fff;
    margin: 53px auto 15px;
  }

  .promo-effect__title {
    display: block;
    width: 168px;

    margin: 0;
    padding: 0;
    padding-top: 50px;
    margin-bottom: 20px;

    font-size: 30px;
    font-weight: 700;
  }

  .promo-effect__text {
    display: block;
    width: 80%;

    font-size: 14px;
    line-height: 24px;
  }

}

@media (#{$desktop-widths}) {

  .promo-effect {
    background-color: $bg-lightgrey;
  }

  .promo-effect-wrapper {
    padding-bottom: 60px;
  }

  .promo-effect__title {
    display: block;
    width: 100%;

    padding-top: 80px;
    margin-bottom: 20px;
  }

  .promo-effect__text {
    display: block;
    width: 100%;

    font-size: 18px;
  }

  .promo-effect__link {
    font-size: 18px;
  }

}
