.promo-abilities {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  margin-top: 60px;
}

.promo-ability {
  margin-bottom: 25px;
}


.promo-effect__title {
 margin-bottom: 15px;
 margin-top: 0;

 font-size: 18px;
 font-weight: 700;
 line-height: 30px;
}

.promo-ability__description {
 font-size: 14px;
 line-height: 24px;
}


@media (#{$tablet-widths}) {

  .promo-abilities {
   order:2;
   width: 300px;
   flex-grow: 1;

   text-align: left;
  }

}

@media (#{$desktop-widths}) {

  .promo-abilities {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    order: 2;
  }

  .promo-ability {
    width: 250px;
    min-height: 220px;

    text-align: center;
   }

   .promo-effect__title {
     display: inline-block;
     padding: 0 35px;

     margin-bottom: 25px;
     margin-top: 0;

     font-size: 35px;
     font-weight: 700;
     line-height: 1;
   }

   .promo-ability__description {
     font-size: 18px;
     line-height: 30px;
   }

}