.promo-block {
  @include clearfix;
  margin: 0;
  padding-top: 45px;

  text-align: center;
}

.promo-block__wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.promo-block__phrase {
  margin-bottom: 35px;
  padding-left: 25px;
  padding-right: 25px;

  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
}

.promo-image img:nth-child(2),
.promo-image img:nth-child(1) {
  display: none;
}

@media (#{$tablet-widths}) {

  .promo-block__phrase {
    margin-bottom: 45px;

    font-size: 40px;
    line-height: 1.2;
    font-weight: 300;
  }

  .promo-block__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
   }

  .promo-image {
    order: 1;
    flex-grow: 1;

    width: 300px;
  }

  .promo-image img {
    width: 270px;
    height: 540px;
  }

}

@media (#{$desktop-widths}) {

  .promo-block__phrase {
    font-size: 50px;
    line-height: 1.2;

    font-weight: 300;
  }

  .promo-block__wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

   }

   .promo-block__wrap > div {
    width: 100%;
   }

  .promo-image {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    order: 1;
  }

  .promo-image img:nth-child(2),
  .promo-image img:nth-child(1),
  .promo-image img:nth-child(3) {
    display: block;
    width: 180px;
    height: 390px;
  }

}