.promo-abilities {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  margin-top: 60px;
}

.promo-effect__title {
 margin-bottom: 15px;
 margin: 0;

 font-size: 18px;
 font-weight: 700;
 line-height: px;
}

.promo-ability__description {
 margin: 0;
 padding: 0;
 margin-bottom: 15px;

 font-size: 14px;
 line-height: 24px;
}


@media (#{$tablet-widths}) {

  .promo-abilities {
   order:2;

   box-sizing: border-box;
   width: 50%;
   margin: 0;

   padding-top: 65px;

   text-align: left;
  }

}

@media (#{$desktop-widths}) {

  .promo-abilities {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    order: 2;
  }

  .promo-ability {
    box-sizing: border-box;
    width: 28%;

    text-align: center;

  }

   .promo-effect__title {
     display: inline-block;
     vertical-align: top;
     padding: 0 35px;

     margin-bottom: 25px;
     margin-top: 0;

     font-size: 35px;
     font-weight: 700;
     line-height: 1;
   }

   .promo-ability__description {
     font-size: 18px;
     line-height: 30px;
   }

}