.promo-block {
  margin: 0;
  padding-top: 45px;

  text-align: center;
}

.promo-block__wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.angle-invert {
  background-image: url(../img/bg-triangle-white.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;

  background-color: $bg-lightgrey;
}

.promo-block__phrase {
  margin-bottom: 35px;
  padding-left: 25px;
  padding-right: 25px;

  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
}

.promo-image img:nth-child(2),
.promo-image img:nth-child(1) {
  display: none;
}

.promo-image {
  margin-top: 40px;
  margin-right: 50px;

  width: 100%;
  height: 280px;

  overflow: hidden;

  text-align: center;
}


@media (#{$tablet-widths}) {

  .promo-block__phrase {
    margin-bottom: 0;

    font-size: 40px;
    line-height: 1.2;
    font-weight: 300;
  }

  .promo-block__phrase:last-child {
    margin-bottom: 45px;
  }

  .promo-block__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
   }

  .promo-image {
    order: 1;

    width: 268px;
    min-height: 480px;
    box-sizing:border-box;
    margin-top: 0;
  }

}

@media (#{$desktop-widths}) {

  .promo-block__phrase {
    font-size: 50px;
    line-height: 1.2;

    font-weight: 300;
  }

  .promo-block__phrase:last-child {
    margin-bottom: 60px;
  }

  .promo-block__wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
   }

   .promo-block__wrap > div {
    width: 100%;
   }

  .promo-image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    order: 1;

    box-sizing: border-box;
    width: 100%;
    min-height: 300px;
  }

  .promo-image img:nth-child(2),
  .promo-image img:nth-child(1),
  .promo-image img:nth-child(3) {
    display: block;
  }

}